.page-footer {
    padding: 0 var(--h-indent);
    display: flex;
    border-top: 1px solid #D9FFF5;
    margin-bottom: 20px;
    
    @media screen and (max-width: 767.98px) {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    @media screen and (min-width: 768px) {
        height: 85px;
        justify-content: space-between;
    }
    @media screen and (min-width: 1440px) {
        height: 65px;
    }

    &__block {
        margin-top: 16px;
        font-size: 14px;
        color: #7E7E82;
        width: 100%;
        margin-top: 16px;
        margin-bottom: 0;

        @media screen and (min-width: 768px) {
            width: 220px;
            margin-top: 32px;
            
        }

        @media screen and (min-width: 1440px) {
            &:last-child {
                width: 330px;
            }
        }
    }

    &__link {
        color: #7E7E82;
    }
}